.header1= 'New Phrase'

- form_for(@phrase) do |f|
	= f.error_messages
	%p
		= f.label :text
		%br= f.text_field :text
	%p
		= 'Professor'
		%select{:name => 'phrase[professor_id]', :id => 'phrase_professor_id'}
			- @professors.each do |professor|
				- if (!@selectedprof.nil? and professor.id == @selectedprof.id)
					%option{:value => professor.id, :selected => 'selected'}
						= professor.name
				- else
					%option{:value => professor.id}
						= professor.name
	
	%p= submit_tag('Create')

= link_to('Back', phrases_path)