.header1= 'New Professor'

- form_for(@professor) do |f|
	= f.error_messages
	%p
		= f.label :name
		%br= f.text_field :name
	%p	
		= 'School'
		- if !@school.nil?
			%br= h(@school.name)
		- else
			%select{:name => 'professor[school_id]', :id => 'professor_school_id'}
				- @schools.each do |school|
					%option{:value => school.id}
						= school.name
					
	%p= submit_tag('Create')

= link_to('Back', professors_path)
