%h1= "New Professor"
- form_for(@professor) do |f|
	= f.error_messages
	%p
		= f.label :name
		%br= f.text_field :name
		%br= f.label :school_id
		%br= f.text_field :school_id
	%p= submit_tag('Create')

= link_to('Back', professors_path)
